<div class="footer">
    <div class="footer-top">
        <!-- first part of footer contains logo -->
        <div class="logo-footer">
            <h1>AgsStore</h1>
        </div>
        <div>
            <div class="pages">
                <h3>Pages</h3>
                <a href="#">Home</a>
                <a href="#">Products</a>
                <a href="#">Services</a>
                <a href="#">Contact</a>
                <a href="#">Vision</a>
                <a href="#">Mission</a>
                <a href="#">Idea</a>
            </div>
        </div>
        <div>
            <div class="categories">
                <h3>Categories</h3>
                <a href="#">Home</a>
                <a href="#">Products</a>
                <a href="#">Services</a>
                <a href="#">Contact</a>
                <a href="#">Vision</a>
                <a href="#">Mission</a>
                <a href="#">Idea</a>
            </div>

        </div>
        <div>
            <div class="partners">
                <h3>Partners</h3>
                <a href="#">Home</a>
                <a href="#">Products</a>
                <a href="#">Services</a>
                <a href="#">Contact</a>
                <a href="#">Vision</a>
                <a href="#">Mission</a>
                <a href="#">Idea</a>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        All copyrights reserved
    </div>
</div>